<app-navbar></app-navbar>
<div class="container margin-top">
	<button class="btn btn-pink btn-block mb-2 disabled">
		<span class="font-weight-bold">Schools</span>
	</button>
	<div class="row" *ngIf="schools && schools.length > 0; else noSchools">
		<div class="col-6 mb-2" *ngFor="let s of schools">
			<button class="btn btn-pink btn-block" (click)="onNavigateToSchool(s.schoolId)">
				<span class="font-weight-bold">{{ s.schoolName | titlecase }}</span>
			</button>
		</div>
	</div>
	<ng-template #noSchools><h1 style="text-align: center; color: red">No Schools</h1></ng-template>
</div>
