.container {
	max-width: 70rem !important;
}

.btn-pink {
	color: #e91e63;
	background-color: #fff;
	border-color: #e91e63;
	border-radius: 45px;
}
.btn-pink:hover,
.btn-pink:focus,
.btn-pink:active,
.btn-pink.active,
.open > .dropdown-toggle.btn-pink {
	color: #fff;
	background-color: #e91e63;
	border-color: #e91e63;
}

.font-weight-bold {
	font-weight: 700 !important;
	font-size: 20px;
}

.mat-expansion-panel {
	border-radius: 30px !important;
}

.mat-expansion-panel-header-title {
	font-size: large;
}

.margin-top {
	margin-top: 100px;
}

.user-link {
	color: #007bff !important;
}

table {
	width: 100%;
}

.user-name {
	font-size: 25px;
	font-weight: 500;
	color: #202021;
}

.mat-card-title {
	display: block;
	background-color: #e3f2fd;
	padding-bottom: 15px;
}

tr.mat-header-row {
	height: 40px !important;
}

.loading-container {
	border: 5px solid #f3f3f3;
	border-top: 5px solid #232c60;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	animation: spin 1.5s linear infinite;
	margin: 0 auto;
}

.margin-left-right {
	margin: 0 5px 0 5px;
}

.mat-tab-label {
	color: #e91e63 !important;
	font-weight: 700;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
	background-color: #e91e63 !important;
	color: #fff !important;
	opacity: 1 !important;
	font-weight: 700 !important;
	font-size: 20px !important;
}
