<mat-toolbar color="accent">
	<div>
		<a *ngIf="userDetail && userDetail.isAdmin" mat-icon-button routerLink="/quiz/admin-dashboard">
			Quiz
		</a>
		<a
			*ngIf="userDetail && !userDetail.isAdmin"
			mat-icon-button
			[routerLink]="['/quiz/employee-dashboard', userDetail.schoolId]"
		>
			Dashboard
		</a>
		<span fxFlex></span>
		<div style="position: absolute; right: 0">
			<a *ngIf="userDetail && userDetail.displayName" mat-button style="cursor: default">
				{{ userDetail.displayName | titlecase }}
			</a>
			<a (click)="logout()" mat-icon-button class="ml-xs" title="Sign Out">
				<mat-icon>exit_to_app</mat-icon>
			</a>
		</div>
	</div>
</mat-toolbar>
