.error-alert {
  font-size: 20px;
  margin-bottom: 20px;

  span {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.error-link {
  a {
    font-variant: small-caps;
    width: 125px;
    font-size: larger;
  }

  &--dashboard {
    margin-top: 15px;
  }

  &--go-back {
    margin-top: 50px;
  }
}

.error-message {
  font-family: 'Trebuchet MS';
  font-size: 32px;

  span {
    font-variant: small-caps;
  }
}

.page-not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
  font-family: 'Trebuchet MS';
}

.tools-panel-overlay {
  background: transparent;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 99999998;
}