<mat-progress-bar mode="determinate" [value]="testPercentage"></mat-progress-bar>
<div class="score mb-5">{{ numberOfAnsweredQuestions || 0 }} / {{ quiz?.questions.length }} questions</div>
<div class="container margin-top">
	<h3 class="test-name">Test Your {{ quiz?.quizName | titlecase }}</h3>
	<p>For the questions below, please choose the best option to complete the sentence or conversation.</p>
	<mat-error class="row mb-2 alert" *ngIf="errorMessage">{{ errorMessage }}</mat-error>
	<form [formGroup]="answersForm" *ngIf="quiz && quiz.questions.length > 0">
		<mat-card *ngFor="let q of quiz.questions; let i = index" class="mb-3 card" formArrayName="options">
			<mat-radio-group aria-label="Select an option" [formControlName]="i">
				<h3 class="mb-2 readonly-label">{{ q.questionText }}</h3>
				<div *ngFor="let s of q.options">
					<mat-radio-button [value]="s" (change)="onChange(s, q.questionText)">{{
						s.optionText
					}}</mat-radio-button>
				</div>
			</mat-radio-group>
		</mat-card>
		<div class="text-center">
			<button name="test" mat-raised-button class="btn-block mb-5" color="accent" (click)="openDialog()">
				Submit
			</button>
		</div>
	</form>
</div>
