.mat-radio-group {
	display: flex;
	flex-flow: column nowrap;
}
.phone-option {
	padding-bottom: 1.25em;
	padding: 0.4375em 0;
	border-top: 0.84375em solid transparent;
}

::ng-deep .mat-progress-bar-fill::after {
	background-color: #e91e63;
	height: 50px;
}

::ng-deep .mat-progress-bar-buffer {
	background: #c1c1c1;
}

::ng-deep.mat-progress-bar.mat-progress-bar.mat-primary {
	height: 15px;
	position: fixed;
	top: 0;
	z-index: 1000;
}

.mat-card {
	border-radius: 30px;
	padding: 30px;
}

mat-radio-group {
	padding: 15px;
	/*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
}
.margin-top {
	margin-top: 150px;
}
.sticky {
	position: sticky;
	top: 70px;
	z-index: 1000;
}
.score {
	padding: 10px 0 10px 0;
	font-size: 35px;
	background-color: rgb(255, 255, 255);
	text-align: center;
	position: fixed;
	top: 15px;
	width: 100%;
	z-index: 100;
	color: #28a745;
}
.alert {
	color: #721c24;
	background-color: #f8d7da;
	margin: 0 10px 0 10px;
}

.margin-top {
	margin-top: 10rem;
}

.test-name {
	font-weight: 700 !important;
	font-size: 35px;
	color: #424242ba;
}

.readonly-label {
	color: #999999;
	font-weight: 500;
	white-space: nowrap;
}
