<div class="relative">
	<div class="form-bg">
		<div fxLayout="row" fxLayoutAlign="center start" class="pt-2">
			<div class="register-card" style="max-width: 100%">
				<mat-card class="login-session">
					<div>
						<p>You have successfully logged out and can close this window or log back in.</p>
						<p>Enter Your Login Details</p>
						<div fxLayout="column">
							<button class="mat-green" (click)="login()" mat-raised-button>
								Sign in/Register
							</button>
						</div>
					</div>
				</mat-card>
			</div>
		</div>
	</div>
</div>

