.mat-radio-group {
	display: flex;
	flex-flow: column nowrap;
}
.phone-option {
	padding-bottom: 1.25em;
	padding: 0.4375em 0;
	border-top: 0.84375em solid transparent;
}

::ng-deep .mat-progress-bar-fill::after {
	background-color: #e91e63;
	height: 50px;
}

::ng-deep .mat-progress-bar-buffer {
	background: #c1c1c1;
}

::ng-deep.mat-progress-bar.mat-progress-bar.mat-primary {
	height: 15px;
	position: fixed;
	z-index: 1000;
}

.mat-card {
	border-radius: 30px;
	padding: 30px;
}

mat-radio-group {
	padding: 15px;
	/*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
}

.sticky {
	position: sticky;
	top: 70px;
	z-index: 1000;
}

.correct {
	color: #205c47;
	background-color: #48d76e;
	border-radius: 30px;
	padding: 5px;
	margin-left: 45px;
}

.incorrect {
	color: #721c24;
	background-color: #ef473a;
	border-radius: 30px;
	padding: 5px;
	margin-left: 45px;
}
.right-answer {
	border-color: green;
	color: green;
}
.wrong-answer {
	border-color: red;
	color: red;
}

.font-bold {
	font-size: 17px;
	font-weight: 700 !important;
}

.readonly-label {
	color: #999999;
	font-weight: 500;
}

.check-card {
	background: #f7fbfc;
	border: solid 1px #99999947 !important;
	border-radius: 25px !important;
	padding: 30px !important;
}
