<div class="relative">
	<div class="form-bg">
		<div fxLayout="row" fxLayoutAlign="center start" class="pt-2">
			<div class="register-card" style="max-width: 100%">
				<mat-card class="login-session">
					<div *ngIf="errorMessage" class="alert">
						{{ errorMessage }}
					</div>
					<nav mat-tab-nav-bar mat-stretch-tabs>
						<a
							mat-tab-link
							[routerLink]="['/tester-register']"
							routerLinkActive
							#RouterLinkActive="routerLinkActive"
							[active]="RouterLinkActive.isActive"
						>
							Tester Register
						</a>
						<a mat-tab-link [routerLink]="['/employee-register']">
							Employee Register
						</a>
						<a mat-tab-link [routerLink]="['/login']">
							Login
						</a>
					</nav>
					<h2 class="base-border">Tester Register</h2>
					<p>Enter Your Details</p>
					<form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
						<div fxLayout="column" fxLayoutAlign="start stretch">
							<mat-form-field style="width: 100%">
								<input matInput placeholder="First Name" type="text" formControlName="firstName" />
								<mat-error *ngIf="submitted && f.firstName.errors">
									<mat-error *ngIf="f.firstName.errors.required">First Name is required</mat-error>
								</mat-error>
							</mat-form-field>
							<mat-form-field style="width: 100%">
								<input matInput placeholder="Last Name" type="text" formControlName="lastName" />
								<mat-error *ngIf="submitted && f.lastName.errors">
									<mat-error *ngIf="f.lastName.errors.required">Last Name is required</mat-error>
								</mat-error>
							</mat-form-field>
							<mat-form-field style="width: 100%">
								<input matInput placeholder="E Mail" type="email" formControlName="email" />
								<mat-error *ngIf="submitted && f.email.errors">
									<mat-error *ngIf="f.email.errors.required">Email is required</mat-error>
									<mat-error *ngIf="f.email.errors.email"
										>Email must be a valid email address</mat-error
									>
								</mat-error>
							</mat-form-field>
							<mat-form-field style="width: 100%" class="mb-1">
								<mat-label>School</mat-label>
								<mat-select formControlName="schoolId">
									<mat-option *ngFor="let school of schools" [value]="school.schoolId">
										{{school.schoolName}}
									</mat-option>
								</mat-select>
								<mat-error *ngIf="submitted && f.schoolId.errors">
									<mat-error *ngIf="f.schoolId.errors.required">School is required</mat-error>
								</mat-error>
							</mat-form-field>
							<button class="mat-green" mat-raised-button type="submit">Submit</button>
						</div>
					</form>
				</mat-card>
			</div>
		</div>
	</div>
</div>
