.result-card {
  background: #f7fbfc;
  border: solid 1px #99999947 !important;
  border-radius: 25px !important;
}

.readonly-label {
  color: #999999;
  font-weight: 500;
  white-space: nowrap;
}

.mat-card.mat-card {
  padding: 30px;
  margin: 0 auto;
  width: 60%;
}

.result-container {
  margin-top: 10%;
}
