<app-navbar></app-navbar>
<div class="container margin-top">
	<div class="row mb-2">
		<button class="btn btn-pink btn-block" disabled style="cursor: not-allowed">{{ quiz?.quizName }}</button>
	</div>
	<div class="row">
		<div class="col-6 mb-2">
			<button class="btn btn-pink btn-block" (click)="openAddQuestionDialog()">Add New Question</button>
		</div>
		<div class="col-6 mb-2">
			<button class="btn btn-pink btn-block" routerLink="/quiz/admin-dashboard/manage">Back</button>
		</div>
	</div>
	<div class="row">
		<div class="col-12 mb-2" *ngFor="let q of quiz?.questions">
			<mat-accordion>
				<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
					<mat-expansion-panel-header>
						<mat-panel-title>
							{{ q?.questionText }}
						</mat-panel-title>
						<mat-panel-description>
							Currently I am {{ panelOpenState ? 'open' : 'closed' }}
						</mat-panel-description>
					</mat-expansion-panel-header>
					<div class="row">
						<div class="col-6">
							<ul *ngFor="let o of q.options">
								<li>
									{{ o.optionText }}
									<span><i *ngIf="o.isCorrect" class="fa fa-check"></i></span>
								</li>
							</ul>
						</div>
						<div class="col-6">
							<div class="btn-group pull-right margin-top" role="group" aria-label="Basic example">
								<button type="button" class="btn btn-primary" (click)="openEditQuestionDialog(q)">
									Edit
								</button>
								<button class="btn btn-danger" (click)="openDialog(q.quizId, q.questionId)">
									Delete
								</button>
							</div>
						</div>
					</div>
				</mat-expansion-panel>
			</mat-accordion>
		</div>
	</div>
</div>
